RewriteEngine On

RewriteRule ^listings$ listings.php [L]
RewriteRule ^register$ register.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^booking$ booking.php [L]
RewriteRule ^checkout$ checkout.php [L]
RewriteRule ^success$ success.php [L]
RewriteRule ^processing$ processing.php [L]
RewriteRule ^payment$ payment.php [L]
RewriteRule ^failed$ failed.php [L]
RewriteRule ^profile$ profile.php [L]